/* -------------------------------------------- */
/* CSS : styles of the omni template */
/* -------------------------------------------- */

/* ----------------- Fonts --------------------- */
@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i,900');

body {
  font-family: "Lato", Arial, serif;
  hyphens: auto;
}

/* --------------------- Titles & text ------------------ */
/* Main title and subtitle */
.title {
  font-size: 36pt;
  font-weight: 900;
  margin-block-start: 0;
  margin-block-end: 0;
  background-color: #ffffff;
  color: #000000;
  margin-bottom: 0;
}

.subtitle {
  background-color: #ffffff;
  color: #333333;
  margin-top: 5px;
}

.subtitle span {
  font-size: .9em;
}

/* Levels of title */
h1 {
  font-size: 24pt;
  font-weight: 700;
  background-color: #314160;
  color: #ffffff;
  padding: 0;
}

h2 {
  font-size: 18pt;
  font-weight: 900;
}

h3 {
  font-size: 14pt;
  font-weight: 700;
  text-transform: uppercase;
  color: #304160;
}

h4 {
  font-size: 11pt;
  font-weight: 400;
  color: #333333;
}

/* Normal paragraph */
p {
  font-size: 11pt;
  font-weight: 300;
}

/* Links */
a, a:active, a:visited {
  color: #000000;
}

/* ---------------------- Aside ------------------- */
/* Normal aside - for citations */
aside {
    width: 40%;
    float: right;
    margin: 0% 0% 0% 1%;
}

aside > blockquote {
  margin: 0 .1in 0 .25in;
}

aside > blockquote > p {
    margin: 0in 0 0 .1in;
    font-size: 16pt;
    font-weight: 400;
}

.quote-author {
    margin: .1in 0 .1in .1in;
    font-size: 10pt;
    font-weight: 400;
    text-align: right;
}

/* Information call out */
aside.info-callout {
  width: 40%;
  border: none;
  margin: 0.1in 0.1in 0.1in .25in;
}

.info-callout-title {
  background-color: #347686;
  color: white;
  font-size: 14pt;
  font-weight: 700;
  margin: 0 0 8pt 0;
  padding: 4pt;
}

.info-callout p:not(.info-callout-title) {
  margin: 0;
}

/* ----------------- Tables -------------------- */
table {
  font-family: "Lato", Arial, serif;
  font-weight: 300;
  font-size: 12pt;
  margin: auto;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
  width: 100%;
}
/*
table thead th {
  border-bottom: 1px solid #ddd;
}
thead, tfoot, tr:nth-child(even) {
  background: #eee;
}
*/

td {
  padding: 10pt 0 10pt 0;
}

/* ----------------- Images -------------------- */
img {
  max-width: 100%;
}

/* -------------------- Captions ----------------------- */
p.caption {
  text-transform: uppercase;
  font-weight: 600;
  color: #333333;
  text-align: left;
}

table caption {
  text-transform: uppercase;
  font-weight: 600;
  color: #333333;
  text-align: left;
  margin-bottom: 5px;
}

.figure {
  break-inside: avoid;
}

/* ----------------- List style ------------------- */
ul {
  list-style-type: disc;
}

/* ----------------- Footnotes -------------------- */
.footnotes {
  font-size: 90%;
}
.footnotes hr::before {
  content: "Footnotes:";
}
.footnotes hr {
  border: none;
}
.footnote-break {
  width: 1in;
}

.footnote-ref {
  text-decoration: none;
}

.footnote sup {
  padding-right: 0.5em;
}


/* --------------------- Misc --------------- */
abbr {
  text-decoration: none;
}

blockquote {
  font-size: 150pt;
}

.quote-footer {
  float: right;
  font-style: italic;
}

code {
  hyphens: none;
}

/* pre */
pre {
  padding: 1em;
}
pre[class] {
  background: #f9f9f9;
}

pre.numberSource a.sourceLine {
  left: 0 !important;
  text-indent: -5em
}
pre.numberSource {
  margin-left: 0 !important;
}



