/* -------------------------------------------- */
/* CSS : styles of the omni template */
/* -------------------------------------------- */

/* ----------------- Fonts --------------------- */
body {
  font-family: "Calibri", Arial, serif;
  hyphens: auto;
}

/* --------------------- Titles & text ------------------ */
/* Main title and subtitle */
/* Levels of title */
h1 {
  font-size: 36pt;
  font-weight: 700;
  color: #314160;
  padding: 0;
}

h2 {
  font-size: 24pt;
  font-weight: 900;
}

h3 {
  font-size: 18pt;
  font-weight: 700;
  text-transform: uppercase;
  color: #314160;
}

/* Normal paragraph */
p {
  font-size: 18pt;
  font-weight: 300;
  color: 314160;
}

/* Links */
a, a:active, a:visited {
  color: #000000;
}

/* ----------------- Tables -------------------- */
table {
  font-family: "Calibri", Arial, serif;
  font-weight: 300;
  font-size: 12pt;
  margin: auto;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
  width: 100%;
}

td {
  padding: 10pt 0 10pt 0;
}

/* ----------------- Images -------------------- */
img {
  max-width: 100%;
}

.slide{
  background-image: url(../omni_rmd_template/images/colorbar.svg);
  background-repeat: no-repeat;
  background-position: 0in 7.5in;
}

.titlepage{
  background-image: url(../omni_rmd_template/images/colorbar.svg), url(../logo/OMNI_Logo-Gold_Stacked.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: 0in 7.5in, .5in .5in;
  background-size: contain, 1in;
}
