.Rproj.user
.Rhistory
.RData
.Ruserdata
inst/rmarkdown/templates/omni-rmarkdown-template/skeleton/skeleton.html
inst/rmarkdown/templates/omni-rmarkdown-template/skeleton/skeleton.pdf
.DS_Store
omni.Rproj
inst/doc
