.Rproj.user
.Rhistory
.RData
.Ruserdata
inst/rmarkdown/templates/omni-rmarkdown-template/skeleton/skeleton.html
inst/rmarkdown/templates/omni-rmarkdown-template/skeleton/skeleton.pdf
.DS_Store
omni.Rproj
inst/doc
docs
skeleton.html
skeleton.pdf
skeleton.docx
inst/rmarkdown/templates/word_report/skeleton/~$eleton.docx
.Rprofile
test.Rmd
test.html
temp.*


# vs code config file
.vscode/
/.quarto/

*_files/

sandbox/
.claude/settings.local.json
