/* page size */
@page {
  size: 8.5in 11in; /* var(--pagedjs-width) doesn't work in browser when printing */
}
@page :blank {

}


/* store some string variables */
.shorttitle1 {
  string-set: h1-text content(text);
}

.shorttitle2 {
  string-set: h2-text content(text);
}

/* left page */
.running-h1-title {
  position: running(runningH1Title);
  width: var(--running-title-width);
  text-overflow: ellipsis;
  overflow: hidden;
}
.running-h1-title:before {
  content: string(h1-text);
}

@page chapter:left {
  /*
  @top-left {
    content: counter(page);
  }
  @top-right {
    content: element(runningH1Title);
    white-space: nowrap !important;
  }
  */
  @bottom-right {
    content: counter(page);
  }
}

/* right page */
.running-h2-title {
  position: running(runningH2Title);
  width: var(--running-title-width);
  text-overflow: ellipsis;
  overflow: hidden;
}
.running-h2-title:before {
  /* We would want to write: */
  /* content: string(h2-text, start); */
  /* However, this is yet unsupported by Paged.js, see https://gitlab.pagedmedia.org/tools/pagedjs/issues/38 */
  content: string(h2-text);
}
@page chapter:right {
  /*
  @top-right {
    content: counter(page);
  }
  @top-left {
    content: element(runningH2Title);
    white-space: nowrap !important;
  }
  */
   @bottom-right {
    content: counter(page);
  }
}

/* New chapter page */
@page chapter:first {
  @top-left {
    content: none;
  }
  @top-right {
    content: none;
  }
  @bottom-right {
    content: counter(page);
  }

}
@page :first {
  @top-left {
    content: none;
  }
  @top-right {
    content: none;
  }
  @bottom-right {
    content: none !important;
  }
  background-image: var(--front-cover);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

@page chapter {
  background-image: url(colorbar.svg);
  background-position: bottom 0.15in left;
  background-size: contain;
  background-repeat: no-repeat;
}



/* Front cover */
.front-cover {
  break-after: recto;
}

/* Front page or title page */
.front-page {
  counter-reset: page;
}


/* Front matter*/

/* DK: I commented this all out

@page frontmatter:left {
  @top-left {
    content: counter(page, lower-roman);
  }
  @top-right {
    content: element(runningH1Title);
    white-space: nowrap !important;
  }
}
@page frontmatter:right {
  @top-right {
    content: counter(page, lower-roman);
  }
  @top-left {
    content: element(runningH1Title);
    white-space: nowrap !important;
  }
}
@page frontmatter:first {
  @top-left {
    content: none;
  }
  @top-right {
    content: none;
  }
  @bottom-right {
    content: counter(page, lower-roman);
  }
}

*/

/* last page or back cover */
.back-cover {
  /* break-before: verso; */
}
.pagedjs_page:last-of-type {
  background-image: var(--back-cover);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

/* page breaks; aka CSS fragmentation */
.level1 {
  break-before: recto;
  page: chapter;
}
.front-matter-container .level1 {
  page: frontmatter;
}
.section > h1, .section > h2, .section > h3, .section > h4, .section > h5, .section > h6 {
  break-after: avoid;
}
.footenotes {
  break-before: always;
  break-after: always;
}
.figure {
  break-inside: avoid;
}

/* reset page numbering for main content */
.main .level1:first-child h1 {
  /* counter-reset: page; */
}

/* do not break captions */
caption {
  break-inside: avoid;
  break-after: avoid;
}

/* Columns */

.left-column {
  float: left;
  width: 3in;
}

.right-column {
  float: right;
  width: 3in;
}


/* Pull quotes */

.pull-quote {
  float: right;
  width: 2.5in;
}

.pull-quote p {
  font-size: 16pt;
}


/* Cover Page */

@page:first{
  margin: 0 0 0 0;
  background-color: #ffffff;
  background-image: url(OMNI Report Cover Page Options-03.png);
  background-repeat: no-repeat;
  background-position: right center;
}

/* Make title not go onto blue sidebar */

#header {
  width: 5in;
}

/* Secondary Cover Page */

.omni-secondary-cover-page {
  margin: 0 0 -1in 0;
  background-color: #ffffff;
  background-image: url(orange-rectangle.svg);
  background-repeat: no-repeat;
  background-position: left center;

}

.omni-secondary-cover-page img {
  margin: 0 auto;
  display: block;
}

