/* Interface */

:root {
    --color-background: rgba(0, 0, 0, 0.2);
    --color-paper: white;
}

@media screen {
    body {
      background-color: var(--color-background);
    }
  
    .pagedjs_pages {
      display: flex;
      width: calc(var(--pagedjs-pagebox-width) * 2);
      flex: 0;
      flex-wrap: wrap;
      margin: 0 auto;
      margin-bottom: 3em;
    }
  
    .pagedjs_page {
      background-color: var(--color-paper);
      margin: 0;
      flex-shrink: 0;
      flex-grow: 0;
      margin-top: 10mm;
    }
  
    [class*="pagedjs_margin"] {
      box-shadow: 0 0 0 1px inset orange;
    }
  }