@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Sometype+Mono:ital,wght@0,400..700;1,400..700&display=swap");

h1,
h2 {
  margin-top: 2em !important;
  font-weight: bold;
}

h3 {
  font-weight: normal;
  font-size: 1.3em;
}
