/* -------------------------------------------- */
/* ---- OMNI HTML Report CSS ---- */
/* -------------------------------------------- */

/* ---- Variables ------------------- */
/* setup default values for variables */
:root {
  --main-font: "Neue Haas Grotesk Display Pro";
  --header-font: "Neue Haas Grotesk Display Pro";
  --main-color: #314160;
}

/* ---- Logo ----------- */
body {
  background-image: url(images/omni-logo-horizontal.svg);
  background-position: 5% 0%;
  background-repeat: no-repeat;
}

/* ---- Titles & text ------------------ */
/* Main title and subtitle */
h1.title {
  font-size: 24pt;
  font-weight: 700;
  background-color: var(--main-color);
  color: #ffffff;
  padding: 0;
  text-align: center;
}

h1.subtitle {
  font-weight: bold;
  text-align: center;
  font-size: 12pt;
}

/* Levels of title */
h1,
h2,
h3,
h4 {
  font-family: var(--header-font);
}

h2 {
  font-size: 24pt;
  font-weight: 700;
  background-color: var(--main-color);
  color: #ffffff;
  padding: 0;
  text-align: center;
}

h3 {
  font-size: 14pt;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--main-color);
}

/* Normal paragraph */
p {
  font-size: 11pt;
  font-weight: 300;
}

/* Links */
a,
a:active,
a:visited {
  color: #000000;
}

.list-group-item.active {
  background-color: var(--main-color);
  border-color: var(--main-color);
}

#TOC {
  margin-top: 70px !important;
}
