/* -------------------------------------------- */
/* ---- OMNI PDF Report CSS ---- */
/* -------------------------------------------- */

/* ---- Interface ------------------- */
/* Include interface for debugging */

@import "css_partials/interface.css";

/* ---- Variables ------------------- */
/* setup default values for variables */
:root {
  --main-font: "Calibri";
  --header-font: "Calibri";

  --omni-dark-blue: #314160;
  --omni-medium-blue: #347686;
  --omni-tan: #7b7754;

  --pagedjs-margin-left: 0.5625in;
  --pagedjs-margin-right: 0.5625in;
  --pagedjs-margin-bottom: 0.5625in;
  --pagedjs-margin-top: 0.5625in;

}

/* ---- Pages ----------------------- */

@page {
  size: 8.5in 11in;
  /* var(--pagedjs-width) doesn't work in browser when printing */

  border-top: solid 1px var(--omni-medium-blue);
  border-bottom: solid 1px var(--omni-medium-blue);

  @bottom-right {
    content: counter(page);
  }
}

/* ---- Breaks ----------------------- */

.section>h1,
.section>h2,
.section>h3,
.section>h4,
.section>h5,
.section>h6 {
  break-after: avoid;
}

/* --------------------- Cover Page ------------------ */
@page:first {

  margin-top: 1in;

  border-top: solid 1px var(--omni-tan);
  border-bottom: none;

  background-image: url(logo/OMNI_Logo-White_Horizontal.png);
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 1in;

  /* remove the rest of the content */
  @bottom-right {
    display: none;
  }
}

/* Main title and subtitle */

.title {
  font-size: 36pt;
  font-weight: 900;
  color: white;
  z-index:1;
}

.title:before{
  position:absolute;
  z-index:-1;
  width: 8.5in;
  height: 2.45in;
  left: -0.5625in ;
  top: -1in;
  content:"";
  background-color: var(--omni-dark-blue);
}

.date {
  color: white;
  z-index:1;
}

/* ---- Fonts --------------------- */
body {
  font-family: var(--main-font);
  hyphens: auto;
}

/* ---- Style ------------------ */

/* Levels of title */
h1 {
  font-size: 24pt;
  font-weight: 700;
  background-color: #314160;
  color: #ffffff;
  padding: 0;
}

h2 {
  font-size: 18pt;
  font-weight: 900;
}

h3 {
  font-size: 14pt;
  font-weight: 700;
  text-transform: uppercase;
  color: #304160;
}

h4 {
  font-size: 11pt;
  font-weight: 400;
  color: #333333;
}

/* Normal paragraph */
p {
  font-size: 11pt;
  font-weight: 300;
}

/* Links */
a,
a:active,
a:visited {
  color: #000000;
}


/* tables */
table {
  font-family: var(--main-font);
  font-weight: 300;
  font-size: 12pt;
  margin: auto;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
  width: 100%;
}

td {
  padding: 10pt 0 10pt 0;
}

/* images */
/* this ensure images doesn't go outside the page */
img {
  max-width: 100%;
}

.figure {
  break-inside: avoid;
}

/* captions */
p.caption {
  text-transform: uppercase;
  font-weight: 600;
  color: #333333;
  text-align: left;
}

table caption {
  text-transform: uppercase;
  font-weight: 600;
  color: #333333;
  text-align: left;
  margin-bottom: 5px;
}

caption {
  break-inside: avoid;
  break-after: avoid;
}

/* list */
ul {
  list-style-type: disc;
}
