/* -------------------------------------------- */
/* ---- OMNI HTML Memo CSS ---- */
/* -------------------------------------------- */

/* ---- Variables ------------------- */
/* setup default values for variables */
:root {
  --main-font: "Neue Haas Grotesk Display Pro";
  --header-font: "Neue Haas Grotesk Display Pro";
  --main-color: #314160;
}

/* ---- Style ------------------- */

body {
  font-family: var(--main-font);
  hyphens: auto;
}

.list-group-item.active {
  background-color: var(--main-color);
  border-color: var(--main-color);
}

/* titles */
h1,
h2,
h3 {
  color: var(--main-color);
  font-weight: bold;
}
