/* -------------------------------------------- */
/* ---- OMNI PDF Memo CSS ---- */
/* -------------------------------------------- */

/* ---- Interface ------------------- */
/* Include interface for debugging */

@import "css_partials/interface.css";
@import "css_partials/toc_lot_lof.css";

/* ---- Variables ------------------- */
/* setup default values for variables */
/* will be updated by R */
:root {
  --main-font: "Calibri";
  --header-font: "Calibri";
  --main-color: #314160;
}

/* ---- Page style ----------------------- */
@page {
  size: 8.5in 11in;

  /* Add colorbar to all pages (first and last are overriden later) */
  background-image: url(images/omni-logo-horizontal.svg), url(images/colorbar.svg);
  background-position: bottom 0.33in center, bottom 0.15in left;
  background-size: 15%, contain;
  background-repeat: no-repeat, no-repeat;

  /* Add page numbers to all pages */
  @bottom-right {
    content: counter(page);
  }
}

/* ---- Fonts --------------------- */
/* Fonts must be installed on your local */
body {
  font-family: var(--main-font);
}

/* ---- Titles & text ------------------ */
/* Main title and subtitle */
h1.title {
  font-size: 24pt;
  font-weight: 700;
  background-color: var(--main-color);
  color: #ffffff;
  padding: 0;
  text-align: center;
}

h1.subtitle {
  font-weight: bold;
  text-align: center;
  font-size: 12pt;
}

/* Levels of title */
h1, h2, h3, h4{
  font-family: var(--header-font);
}

h2 {
  font-size: 24pt;
  font-weight: 700;
  background-color: var(--main-color);
  color: #ffffff;
  padding: 0;
  text-align: center;
}

h3 {
  font-size: 14pt;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--main-color);
}

/* Normal paragraph */
p {
  font-size: 11pt;
  font-weight: 300;
}

/* Links */
a,
a:active,
a:visited {
  color: #000000;
}

/* ---- Images -------------------- */
img {
  max-width: 100%;
}

.figure {
  break-inside: avoid;
}

/* ---- Captions ----------------------- */
p.caption {
  text-transform: uppercase;
  font-weight: 600;
  color: #333333;
  text-align: left;
}

table caption {
  text-transform: uppercase;
  font-weight: 600;
  color: #333333;
  text-align: left;
  margin-bottom: 5px;
}

.figure {
  break-inside: avoid;
}

/* do not break captions */
caption {
  break-inside: avoid;
  break-after: avoid;
}

/* ---- List style ------------------- */
ul {
  list-style-type: disc;
  font-family: "Lato", Arial, serif;
  font-weight: 300;
  font-size: 10pt;
}

/* ----- Footnotes -------------------- */
.footnotes {
  font-size: 90%;
}

.footnotes hr::before {
  content: "Footnotes:";
}

.footnotes hr {
  border: none;
}

.footnote-break {
  width: 1in;
}

.footnote-ref {
  text-decoration: none;
}

.footnote sup {
  padding-right: 0.5em;
}

.footnotes {
  break-before: always;
  break-after: always;
}

/* ---- Misc --------------- */

blockquote {
  font-size: 150pt;
}

code {
  hyphens: none;
}
