/* -------------------------------------------- */
/* ---- OMNI PDF Report CSS ---- */
/* -------------------------------------------- */

/* ---- Interface ------------------- */
/* Include interface for debugging */

@import "css_partials/interface.css";
@import "css_partials/toc_lot_lof.css";

/* ---- Variables ------------------- */
/* setup default values for variables */
:root {
  --main-font: "Calibri";
  --header-font: "Calibri";
  --main-color: #314160;
}

/* ---- Pages ----------------------- */

@page {
  size: 8.5in 11in;
  /* var(--pagedjs-width) doesn't work in browser when printing */

  /* Add colorbar to all pages (first and last are overriden later) */
  background-image: url(images/colorbar.svg);
  background-position: bottom 0.15in left;
  background-size: contain;
  background-repeat: no-repeat;
}

/* store some string variables for left and right pages with titles inside */
.shorttitle1 {
  string-set: h1-text content(text);
}

.shorttitle2 {
  string-set: h2-text content(text);
}

/* left page */
.running-h1-title {
  position: running(runningH1Title);
  width: var(--running-title-width);
  text-overflow: ellipsis;
  overflow: hidden;
}

.running-h1-title:before {
  content: string(h1-text);
}

@page chapter:left {
  @bottom-right {
    content: counter(page);
  }
}

/* right page */
.running-h2-title {
  position: running(runningH2Title);
  width: var(--running-title-width);
  text-overflow: ellipsis;
  overflow: hidden;
}

.running-h2-title:before {
  content: string(h2-text);
}

@page chapter:right {
  @bottom-right {
    content: counter(page);
  }
}

/* New chapter page */
@page chapter:first {
  @top-left {
    content: none;
  }

  @top-right {
    content: none;
  }

  @bottom-right {
    content: counter(page);
  }

}

/* ---- Breaks ----------------------- */

/* Front cover */
.front-cover {
  break-after: page;
}

/* Front page or title page */
.front-page {
  counter-reset: page;
}

/* page breaks; aka CSS fragmentation */
.level1 {
  break-before: page;
}

.section>h1,
.section>h2,
.section>h3,
.section>h4,
.section>h5,
.section>h6 {
  break-after: avoid;
}

/* --------------------- Cover Page ------------------ */
@page:first {
  margin: 0 0 0 0;
  background-color: #ffffff;
  background-image: url(images/blue-cover-sidebar.svg);
  background-repeat: no-repeat;
  background-position: right center;

  /* remove the rest of the content */
  @top-left {
    content: none;
  }

  @top-right {
    content: none;
  }

  @bottom-right {
    content: none !important;
  }
}

/* Make title not go onto blue sidebar */
#header {
  width: 5in;
}

/* ------------------ Secondary Cover Page -------------------- */
/*  properties of abstract */
div.abstract {
  margin: 0 0 0 0;
  background-color: #ffffff;
}

/* OMNI LOGO*/
img.omni_logo_abstract {
  margin: 0 auto;
  display: block;
  width: 25%;
}

/* Orange rectangle */
img.orange_rect_abstract {
  margin: 0 auto;
  display: block;
  height: 200px;
  max-width: 100px;
  position: absolute;
  top: 20px;
  left: -110px;
}

/* put the abstract on its own page */
div.abstract {
  page-break-before: always;
}

/* remove the h3 title "Abstract" */
h3.abstract {
  display: none;
}

/* ---------------------- Last page ----------------- */
.pagedjs_page:last-of-type {
  background-image: var(--back-cover);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

/* avoid supplementary blank page */
.page-content div {
  width: auto !important;
  max-width: 99%;
}


/* ---- Fonts --------------------- */
body {
  font-family: var(--main-font);
  hyphens: auto;
}

/* ---- Style ------------------ */
/* Main title and subtitle */
h1.title {
  font-size: 36pt;
  font-weight: 900;
  margin-block-start: 0;
  margin-block-end: 0;
  background-color: #ffffff;
  color: #000000;
  margin-top: 3em;
  margin-left: 1em;
  margin-bottom: 0;
}

h1.subtitle {
  background-color: #ffffff;
  color: #333333;
  margin-top: 5px;
  margin-left: 1em;
}

.subtitle span {
  font-size: .9em;
}

/* Levels of title */
h1 {
  font-size: 24pt;
  font-weight: 700;
  background-color: #314160;
  color: #ffffff;
  padding: 0;
}

h2 {
  font-size: 18pt;
  font-weight: 900;
}

h3 {
  font-size: 14pt;
  font-weight: 700;
  text-transform: uppercase;
  color: #304160;
}

h4 {
  font-size: 11pt;
  font-weight: 400;
  color: #333333;
}

/* Normal paragraph */
p {
  font-size: 11pt;
  font-weight: 300;
}

/* Links */
a,
a:active,
a:visited {
  color: #000000;
}


/* tables */
table {
  font-family: var(--main-font);
  font-weight: 300;
  font-size: 12pt;
  margin: auto;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
  width: 100%;
}

td {
  padding: 10pt 0 10pt 0;
}

/* images */
/* this ensure images doesn't go outside the page */
img {
  max-width: 100%;
}

.figure {
  break-inside: avoid;
}

/* captions */
p.caption {
  text-transform: uppercase;
  font-weight: 600;
  color: #333333;
  text-align: left;
}

table caption {
  text-transform: uppercase;
  font-weight: 600;
  color: #333333;
  text-align: left;
  margin-bottom: 5px;
}

caption {
  break-inside: avoid;
  break-after: avoid;
}

/* list */
ul {
  list-style-type: disc;
}

/* footnotes */

.footnotes {
  break-before: always;
  break-after: always;
  font-size: 90%;
}

.footnotes hr::before {
  content: "Footnotes:";
}

.footnotes hr {
  border: none;
}

.footnote-break {
  width: 1in;
}

.footnote-ref {
  text-decoration: none;
}

.footnote sup {
  padding-right: 0.5em;
}

/* ---- Misc elements style --------------------- */
abbr {
  text-decoration: none;
}

blockquote {
  font-size: 150pt;
}

.quote-footer {
  float: right;
  font-style: italic;
}

code {
  hyphens: none;
}

/* pre */
pre {
  padding: 1em;
}

pre[class] {
  background: #f9f9f9;
}

pre.numberSource a.sourceLine {
  left: 0 !important;
  text-indent: -5em
}

pre.numberSource {
  margin-left: 0 !important;
}

/* Aside for citations */
aside {
  width: 40%;
  float: right;
  margin: 0% 0% 0% 1%;
}

aside>blockquote {
  margin: 0 .1in 0 .25in;
}

aside>blockquote>p {
  margin: 0in 0 0 .1in;
  font-size: 16pt;
  font-weight: 400;
}

.quote-author {
  margin: .1in 0 .1in .1in;
  font-size: 10pt;
  font-weight: 400;
  text-align: right;
}

/* Information call out */
aside.info-callout {
  width: 40%;
  border: none;
  margin: 0.1in 0.1in 0.1in .25in;
}

.info-callout-title {
  background-color: #347686;
  color: white;
  font-size: 14pt;
  font-weight: 700;
  margin: 0 0 8pt 0;
  padding: 4pt;
}

.info-callout p:not(.info-callout-title) {
  margin: 0;
}

/* columns */
.left-column {
  float: left;
  width: 3in;
}

.right-column {
  float: right;
  width: 3in;
}


/* pull quotes */
.pull-quote {
  float: right;
  width: 2.5in;
}

.pull-quote p {
  font-size: 16pt;
}

/* executive summary*/
.exec-summary h1 {
  font-size: 24pt;
  font-weight: 900;
  background-color: #ffffff;
  color: #000000;
  margin-bottom: 0;
}

.exec-summary h2 {
  font-size: 18pt;
  font-weight: 700;
  background-color: #ffffff;
  color: #000000;
  margin-bottom: 0;
}

.exec-summary {
  page-break-before: always;
  break-after: avoid;
}