/* -------------------------------------------- */
/* ---- OMNI PDF Report CSS ---- */
/* -------------------------------------------- */

/* ---- Interface ------------------- */
/* Include interface for debugging */

/* ---- Variables ------------------- */
/* setup default values for variables */
:root {
  --main-font: "Inter Tight";
  --header-font: "Inter Tight";
  --secondary-font: "Sometype Mono";
  --background-color: #f9f7f4;
  --primary-color: #081c39;
  --steel-blue: #677384;
  --logo-bottom: url("images/logo-no-text.png");
  --logo-bottom-page-break: url("images/logo-no-text-transparent.png");
  --logo-cover: url("images/logo.png");
  --background-cover-page: url("images/pattern-cover-periwinkle.png");
  --steel-blue-light: #bfcbd3;
  --display-the-cover-page: block;
  --pagedjs-margin-top: 25mm;
  --pagedjs-margin-right: 15mm;
  --pagedjs-margin-bottom: 25mm;
  --pagedjs-margin-left: 15mm;
}

* {
  background-color: var(--background-color);
  font-family: var(--main-font);
}

/* Import Fonts */

@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Sometype+Mono:ital,wght@0,400..700;1,400..700&display=swap");

/* --------------------- Pages ----------------------- */

@page {
  size: 8.5in 11in !important;
  margin: 25mm 15mm;
  background-color: var(--background-color);
  border-bottom: solid 1px var(--steel-blue-light);

  @bottom-right {
    content: counter(page);
    font-size: 10pt;
    margin-top: 13pt;
    background: none;
  }

  @bottom-center {
    content: string(h1-title);
    margin-left: 2in;
    font-size: 10pt;
    color: var(--steel-blue);
    margin-top: 13pt;
  }

  @bottom-left {
    content: "";
    background-image: var(--logo-bottom);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right top;
    width: 30px;
    height: auto;
  }
}

.pagedjs_page .pagedjs_margin-bottom-center > .pagedjs_margin-content::before {
  content: "Omni Institute Report | ";
  color: var(--primary-color);
  position: static;
  right: 10%;
}

.pagedjs_page .pagedjs_margin-bottom-center > .pagedjs_margin-content::before,
.pagedjs_page .pagedjs_margin-bottom-center > .pagedjs_margin-content::after {
  display: inline;
  white-space: nowrap;
}

.pagedjs_page .pagedjs_margin-bottom-center > .pagedjs_margin-content::after {
  display: inline !important;
}

h1.title {
  string-set: h1-title content(text);
}

.shorttitle1 {
  string-set: h1-text content(text);
}

/* --------------------- Cover Page ------------------ */

/* Add a cover image container that will appear only on first page */
.cover-container {
  position: absolute;
  bottom: -12%;
  left: -8%;
  width: 116%;
  height: 60%;
  z-index: 1000; /* allow to go over margins */
}

.cover-image {
  width: 100%;
  height: 100%;
  background-image: var(--background-cover-page);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
}

.cover-page-full {
  position: absolute;
  top: -11%;
  left: -8%;
  z-index: 1000; /* allow to go over margins */
  width: 116%;
  height: 122%;
  background-image: url("images/pattern-01-yellow.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.cover-page-full h2 {
  word-wrap: break-word; /* ensures very long words break */
  overflow-wrap: break-word; /* modern alternative */
}

.cover-yellow-1 {
  background-image: url("images/pattern-01-yellow.png") !important;
}

.cover-teal-1 {
  background-image: url("images/pattern-02-teal.png") !important;
}

.cover-orangered-1 {
  background-image: url("images/pattern-03-orangered.png") !important;
}

.cover-teal-2 {
  background-image: url("images/pattern-06-teal.png") !important;
}

.cover-periwinkle-1 {
  background-image: url("images/pattern-07-periwinkle.png") !important;
}

.cover-plum-1 {
  background-image: url("images/pattern-08-plum.png") !important;
}

.cover-olive-1 {
  background-image: url("images/pattern-07-olive.png") !important;
}

.cover-content {
  background-color: transparent;
}

.cover-content h2 {
  position: absolute;
  left: 10%;
  right: 10%;
  bottom: 20%;
  color: white;
  background-color: transparent;
  font-size: 2.5rem;
  font-weight: bold;
}

/*  --------------------- TOC --------------------- */

h1.toc-title {
  font-size: 16pt;
  margin-top: 5pt;
}

#TOC li {
  border-top: 1px solid #ccc !important;
  padding: 5pt;
  list-style-type: none;
}

#TOC > ul > li:last-of-type {
  border-bottom: 1px solid #ccc !important;
}

#TOC li a {
  color: var(--primary-color) !important;
  text-decoration: none;
}

#TOC li li {
  border-top: none !important;
  margin-bottom: 0 !important;
  padding: 1pt 0pt 1pt 0pt;
}

#TOC li li a {
  color: var(--steel-blue) !important;
}

#TOC li li a::before() {
  content: none !important;
}

.toc .leaders::before {
  content: ""; /* remove all the dots "........." */
}

.toc-section-number {
  margin-right: 15px;
  font-family: var(--secondary-font);
}

.header-section-number {
  display: none;
}

li li .toc-section-number {
  display: none;
}

.toc a::after {
  background-color: var(--background-color);
}

/* --------------------- Abstract --------------------- */

.submitted-to {
  font-weight: 500;
  font-family: var(--header-font);
}

.client-name {
  margin-bottom: 325pt;
}

p.for-more-info,
p.acknowledge,
p.suggested-citation {
  font-size: 1.2em !important;
  margin-top: 10pt;
  margin-bottom: 1pt;
  letter-spacing: 0.05em;
}

/* by default, abstracts have smaller width */
div.abstract {
  width: 100% !important;
}

/* remove the h3 title "Abstract" */
h3.abstract {
  display: none;
}

/* --------------------- logo --------------------- */

.logo-container {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 150px;
  height: 50px;
  background-image: var(--logo-cover);
  background-repeat: no-repeat;
  background-size: contain;
}

/*  --------------------- date --------------------- */

h2.date {
  position: absolute;
  top: 7pt;
  right: 0;
  font-size: 12pt;
  font-family: var(--secondary-font);
  font-weight: normal;
  text-align: right;
  padding-top: 0;
}

/* avoid supplementary blank page */
.page-content div {
  width: auto !important;
  max-width: 99%;
}

/* title cover page */
#header > h1:nth-child(1)::before {
  content: "Omni Institute Report";
  display: block;
  /* background-color: #faecc3; */
  color: black;
  font-weight: 400;
  font-size: 11pt;
  font-family: var(--main-font);
  line-height: 1.2;
  padding-top: 0.5em;
  margin-bottom: 1em;
  width: fit-content;
  letter-spacing: 0.05em;
}

h1.title:nth-child(1):not(.abstract h1) {
  font-weight: bolder;
  font-family: var(--header-font);
  margin-top: 2in;
  font-size: 30pt;
}

h1.subtitle:nth-child(2):not(.abstract h1) {
  margin-top: 0.5in;
  padding-top: 0.2in;
  border-top: 1px solid #d4ddeb;
  font-family: var(--header-font);
  font-weight: bolder;
  font-size: 16pt;
}

/* Abstract title and subtitle */
.abstract h1.title {
  break-before: page !important;
  font-size: 24pt;
  font-weight: bolder;
  font-family: var(--header-font);
  margin-block-start: 0 !important;
  margin-block-end: 0 !important;
  color: var(--primary-color);
  margin-top: 0 !important;
  margin-bottom: 0;
  margin-left: 0 !important;
}

.abstract h1.title::before {
  content: "Omni Institute Report";
  display: block;
  color: var(--steel-blue);
  font-weight: 400;
  font-size: 0.9rem;
  font-family: var(--main-font);
  padding-top: 0.3em;
  padding-bottom: 0.15in;
  width: fit-content;
  letter-spacing: 0.05em;
}

.abstract h1.subtitle {
  color: var(--primary-color);
  font-weight: bolder;
  font-size: 12pt;
  font-family: var(--header-font);
  margin-top: 5pt;
  margin-bottom: 20pt;
  margin-left: 0 !important;
}

.subtitle span {
  font-size: 0.9em;
}

.pagedjs_pagebox .pagedjs_margin-bottom-left-corner,
.pagedjs_pagebox .pagedjs_margin-bottom-right-corner,
.pagedjs_pagebox .pagedjs_margin-bottom-left,
.pagedjs_pagebox .pagedjs_margin-bottom-right,
.pagedjs_pagebox .pagedjs_margin-bottom-center,
.pagedjs_pagebox .pagedjs_margin-bottom-center {
  display: block;
  align-items: center;
  margin-top: 10px;
  background: transparent;
}

.pagedjs_margin-content {
  background: transparent;
}

.pagedjs_margin-bottom.custom-style,
.pagedjs_margin.pagedjs_margin-bottom-center.hasContent.custom-style {
  background: transparent;
  color: white !important;
}

.pagedjs_page
  .pagedjs_margin-bottom-center.custom-style
  > .pagedjs_margin-content::before {
  color: white !important;
}

.pagedjs_margin-bottom.page-break-icon,
.pagedjs_margin.pagedjs_margin-bottom-left.hasContent.page-break-icon {
  background-image: var(--logo-bottom-page-break);
}

/* not apply to very first page */
.pagedjs_page:not(.pagedjs_first_page) .pagedjs_pagebox .pagedjs_margin-bottom {
  z-index: 2000;
  background: transparent;
}

/* Levels of title */
h1 {
  font-size: 24pt;
  font-weight: 700;
  color: var(--primary-color);
  padding: 0;
}

h2 {
  margin-block-end: 0 !important;
  font-size: 30pt;
  font-weight: 400;
  letter-spacing: 0.03em;
  color: var(--primary-color);
  margin-top: 0 !important;
}

h3 {
  margin-block-end: 8pt !important;
  font-size: 16pt;
  font-weight: 400;
  letter-spacing: 0.03em;
  color: var(--primary-color);
}

h4 {
  margin-block-end: 5.5pt !important;
  font-size: 13pt;
  font-weight: 400;
  letter-spacing: 0.03em;
  color: var(--primary-color);
}

/* Normal paragraph */
p {
  font-size: 11pt;
  font-weight: 400;
  padding: 1pt;
  margin: 1pt 0;
  line-height: 1.4;
}

.chapter-title {
  font-size: 5pt;
  text-transform: uppercase;
  font: var(--secondary-font);
  position: relative;
  padding-left: 30px;
  letter-spacing: 0.05em;
}

.chapter-title::before {
  content: "";
  width: 12px;
  height: 12px;
  background-color: black;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.dot-purple::before {
  /* here "purple" stays for backward compatibility only https://github.com/rfortherestofus/omni/issues/162 */
  background-color: #921c4c;
}
.dot-plum-200::before {
  background-color: #dd9cb9;
}
.dot-plum-400::before {
  background-color: #c65a8b;
}
.dot-plum-600::before {
  background-color: #921c4c;
}
.dot-plum::before {
  background-color: #921c4c;
}

.dot-green::before {
  /* here "green" stays for backward compatibility only https://github.com/rfortherestofus/omni/issues/162 */
  background-color: #3b5530;
}
.dot-olive-green-200::before {
  background-color: #b8c690;
}
.dot-olive-green-400::before {
  background-color: #89a046;
}
.dot-olive-green-600::before {
  background-color: #3b5530;
}
.dot-olive-green::before {
  background-color: #3b5530;
}

.dot-red::before {
  /* here "red" stays for backward compatibility only https://github.com/rfortherestofus/omni/issues/162 */
  background-color: #cc4100;
}
.dot-orange-red-200::before {
  background-color: #ff9e85;
}
.dot-orange-red-400::before {
  background-color: #ff5e34;
}
.dot-orange-red-600::before {
  background-color: #cc4100;
}
.dot-orange-red::before {
  background-color: #cc4100;
}

.dot-teal-200::before {
  background-color: #c5dfd9;
}
.dot-teal-400::before {
  background-color: #8ac0b3;
}
.dot-teal-600::before {
  background-color: #41816f;
}
.dot-teal::before {
  background-color: #41816f;
}

.dot-golden-yellow-200::before {
  background-color: #fde880;
}
.dot-golden-yellow-400::before {
  background-color: #fcd82b;
}
.dot-golden-yellow-600::before {
  background-color: #f7b925;
}
.dot-golden-yellow::before {
  background-color: #f7b925;
}

.dot-periwinkle-200::before {
  background-color: #d4ddeb;
}
.dot-periwinkle-400::before {
  background-color: #a9bad8;
}
.dot-periwinkle-600::before {
  background-color: #5776b2;
}
.dot-periwinkle::before {
  background-color: #5776b2;
}

.dot-steel-blue-200::before {
  background-color: #bfcbd3;
}
.dot-steel-blue-400::before {
  background-color: #677384;
}
.dot-steel-blue-600::before {
  background-color: #405065;
}
.dot-steel-blue::before {
  background-color: #405065;
}

/* images */
/* this ensure images doesn't go outside the page */
img {
  max-width: 100%;
}

.figure {
  break-inside: avoid;
}

/* bullet points */

#TOC > ul {
  padding-inline-start: 0pt;
}

ul:not(.toc ul) > li::before {
  font-size: 1.5em;
  vertical-align: top;
}

ul ul > li:not(#TOC li)::marker {
  content: "> ";
  font-size: 0.9em;
}

ul ul > li:not(#TOC li) {
  padding-left: 10pt;
  font-size: 11pt;
}

ul > li:not(#TOC li) {
  padding-left: 10pt;
  font-size: 11pt;
}

/* columns */

.columns {
  display: flex;
  gap: 20px;
}

.columns-wrap {
  clear: both;
}

.columns img {
  padding-top: 20px;
}

.wrap-right {
  float: right;
  margin-bottom: 15px;
  margin-top: 15px;
  margin-left: 15px;
  clear: both;
}

.wrap-left {
  float: left;
  margin-bottom: 15px;
  margin-top: 15px;
  margin-right: 15px;
  clear: both;
}

/* section markers */
hr {
  border: 1px solid var(--steel-blue-light);
}

.pattern-appendix {
  position: absolute;
  left: -9%;
  top: -33%;
  width: 118%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.appendix-wrapper {
  position: relative;
  padding-top: 275px;
}

#page-1 {
  display: var(--display-the-cover-page);
}
