<html>
  <head>
    <title>$title$</title>
    <link rel="stylesheet" href="https://raw.githubusercontent.com/rfortherestofus/omni/refs/heads/main/inst/assets/omni_rmarkdown.css" />
  </head>
  <body>
    <div id="header">
      <div class="header-wrapper">
        <div class="header-content">
          <img
            src="https://raw.githubusercontent.com/rfortherestofus/omni/refs/heads/main/inst/assets/logo/OMNI_Logo-White_Horizontal.png"
            class="logo"
            alt="Logo"
          />
          <div class="date">$date$</div>
        </div>
        <div class="header-line"></div>
        <div class="title">$title$</div>
      </div>
    </div>

    <div class="content">$body$</div>
  </body>
</html>
