/* -------------------------------------------- */
/* CSS : styles related to how we put this on pages */
/* -------------------------------------------- */


/* ------------------ Page size ---------------- */
@page {
  size: 8.5in 11in; /* var(--pagedjs-width) doesn't work in browser when printing */
}
@page :blank {

}


/* --------------------- Handle recto and verso pages ---------------- */
html {
  line-height: 1.3;
}

.pagedjs_pagebox * {
    box-sizing: border-box;
}

/* store some string variables */
.shorttitle1 {
  string-set: h1-text content(text);
}

.shorttitle2 {
  string-set: h2-text content(text);
}

/* left page */
.running-h1-title {
  position: running(runningH1Title);
  width: var(--running-title-width);
  text-overflow: ellipsis;
  overflow: hidden;
}
.running-h1-title:before {
  content: string(h1-text);
}

@page chapter:left {
  @bottom-right {
    content: counter(page);
  }
}

/* right page */
.running-h2-title {
  position: running(runningH2Title);
  width: var(--running-title-width);
  text-overflow: ellipsis;
  overflow: hidden;
}
.running-h2-title:before {
  /* We would want to write: */
  /* content: string(h2-text, start); */
  /* However, this is yet unsupported by Paged.js, see https://gitlab.pagedmedia.org/tools/pagedjs/issues/38 */
  content: string(h2-text);
}
@page chapter:right {
   @bottom-right {
    content: counter(page);
  }
}

/* ----------------- New chapter page --------------------- */
@page chapter:first {
  @top-left {
    content: none;
  }
  @top-right {
    content: none;
  }
  @bottom-right {
    content: counter(page);
  }

}

/* --------------------- Page style ----------------------- */
/* Add colorbar to all pages (first and last are overriden later) */
@page {
  background-image: url(../images/colorbar.svg);
  background-position: bottom 0.15in left;
  background-size: contain;
  background-repeat: no-repeat;
}

/* Front cover */
.front-cover {
  break-after: page;
}

/* Front page or title page */
.front-page {
  counter-reset: page;
}

/* page breaks; aka CSS fragmentation */
.level1 {
  break-before: page;
}

.section > h1, .section > h2, .section > h3, .section > h4, .section > h5, .section > h6 {
  break-after: avoid;
}
.footnotes {
  break-before: always;
  break-after: always;
}
.figure {
  break-inside: avoid;
}

/* reset page numbering for main content */
.main .level1:first-child h1 {
  /* counter-reset: page; */
}

/* do not break captions */
caption {
  break-inside: avoid;
  break-after: avoid;
}

/* --------------------- Cover Page ------------------ */
@page:first{
  margin: 0 0 0 0;
  background-color: #ffffff;
  background-image: url(../images/blue-cover-sidebar.svg);
  background-repeat: no-repeat;
  background-position: right center;

  @top-left {
    content: none;
  }
  @top-right {
    content: none;
  }
  @bottom-right {
    content: none !important;
  }
}

/* Make title not go onto blue sidebar */

#header {
  width: 5in;
}

/* ------------------ Secondary Cover Page -------------------- */
/*  properties of abstract */
div.abstract {
  margin: 0 0 0 0;
  background-color: #ffffff;
}

/* OMNI LOGO*/
img.omni_logo_abstract {
  margin: 0 auto;
  display: block;
  width: 25%;
}

/* Orange rectangle */
img.orange_rect_abstract {
  margin: 0 auto;
  display: block;
  height: 200px;
  max-width: 100px;
  position: absolute;
  top: 20px;
  left: -110px;
}

/* put the abstract on its own page */
div.abstract {
  page-break-before: always;
}

/* remove the h3 title "Abstract" */
h3.abstract {
  display: none;
}

/* ---------------------- Last page ----------------- */
/* last page or back cover */
.back-cover {
  /* break-before: verso; */
}
.pagedjs_page:last-of-type {
  background-image: var(--back-cover);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

/* avoid supplementary blank page */
.page-content div {
    width: auto !important;
    max-width: 99%;
}

/* ------------------ Table of Contents/Figures/Tables formatting ----------------- */
/* TOC title */
.toc-title, .lof h1, .lot h1 {
  font-size: 24pt;
  font-weight: 900;
  background-color: #ffffff;
  color: #000000;
  margin-bottom: 0;
}

/* spacing between elements + no underline */
.toc a, .lof a, .lot a{
  line-height: 30px;
  text-decoration: none;
}

/* to remove the bullets + cut the dots at the end --> took it back from default.css */
.toc ul, .lof ul, .lot ul {
    list-style: none;
    padding-left: 0;
    overflow-x: hidden;
}

.toc li li, .lof li li, .lot li li {
  padding-left: 1em;
}

/* here each level contain the following one so we have to override the properties */
/* first level */
.toc ul > li > a, .lof ul > li > a, .lot ul > li > a  {
  font-weight: 600;
}

/* second level and more */
.toc ul > li > ul > li > a {
  font-weight: 300;
}

/* third level */
.toc > ul > li > ul > li > ul > li > a {
  font-weight: 300;
}

/* background color */
.toc ul, .toc a, .toc a::after, .lof ul, .lof a, .lof a::after, .lot ul, .lot a, .lof a::after   {
  background-color: #ffffff;
}

/* ------------------- Executive summary --------------------------- */
/* title and subtitles style */
.exec-summary h1 {
  font-size: 24pt;
  font-weight: 900;
  background-color: #ffffff;
  color: #000000;
  margin-bottom: 0;
}

.exec-summary h2 {
  font-size: 18pt;
  font-weight: 700;
  background-color: #ffffff;
  color: #000000;
  margin-bottom: 0;
}

/* page style */
.exec-summary {
  page-break-before: always;
  break-after: avoid;
}

/* --------------------- Columns ------------------- */
.left-column {
  float: left;
  width: 3in;
}

.right-column {
  float: right;
  width: 3in;
}


/* -------------------- Pull quotes ---------------- */
.pull-quote {
  float: right;
  width: 2.5in;
}

.pull-quote p {
  font-size: 16pt;
}


