/*-- scss:rules --*/

.white {
  color: var(--brand-white);
}

.ivory {
  color: var(--brand-ivory);
}

.ivory-400 {
  color: var(--brand-ivory-400);
}

.orange-red-200 {
  color: var(--brand-orange-red-200);
}

.orange-red-400 {
  color: var(--brand-orange-red-400);
}

.orange-red-600 {
  color: var(--brand-orange-red-600);
}

.golden-yellow-200 {
  color: var(--brand-golden-yellow-200);
}

.golden-yellow-400 {
  color: var(--brand-golden-yellow-400);
}

.golden-yellow-600 {
  color: var(--brand-golden-yellow-600);
}

.olive-green-200 {
  color: var(--brand-olive-green-200);
}

.olive-green-400 {
  color: var(--brand-olive-green-400);
}

.olive-green-600 {
  color: var(--brand-olive-green-600);
}

.teal-200 {
  color: var(--brand-teal-200);
}

.teal-400 {
  color: var(--brand-teal-400);
}

.teal-600 {
  color: var(--brand-teal-600);
}

.plum-200 {
  color: var(--brand-plum-200);
}

.plum-400 {
  color: var(--brand-plum-400);
}

.plum-600 {
  color: var(--brand-plum-600);
}

.periwinkle-200 {
  color: var(--brand-periwinkle-200);
}

.periwinkle-400 {
  color: var(--brand-periwinkle-400);
}

.periwinkle-600 {
  color: var(--brand-periwinkle-600);
}

.steel-blue-200 {
  color: var(--brand-steel-blue-200);
}

.steel-blue-400 {
  color: var(--brand-steel-blue-400);
}

.steel-blue-600 {
  color: var(--brand-steel-blue-600);
}

.navy {
  color: var(--brand-navy);
}
